<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Kalkulator Ocen</title>
</head>

<body>
    <div id="header">
        <div class="logo">
            <h1>Kalkulator Ocen</h1>
        </div>
        <input class="markInput" type="number" v-model="mark[x]" placeholder="Ocena" required>
        <input type="number" v-model="weight[x]" placeholder="Waga" required>
        <button v-on:click="addMark">Dodaj</button>
        <h1>Razem: {{ total }} </h1>
        <h1>Średnia: {{ averageMark.toFixed(2) }} </h1>
        <div class="marks">

        </div>


    </div>
    <script src="app.js"></script>
</body>

</html>