<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Kalkulator Ocen</title>
</head>

<body>
    <div id="header">
        <div class="logo"></div>
        <input type="text" v-model="mark[x]" placeholder="Ocena">
        <input type="text" v-model="weight[x]" placeholder="Waga">
        <button v-on:click="addMark">Dodaj</button>
        <h1>Razem: {{ total }} </h1>
        <h1>Średnia: {{ averageMark.toFixed(2) }} </h1>
        <div class="marks">
          <!--  <div class="mark">
                <h1>{{ marks[0] }} </h1>
            </div>
            
            <div class="mark">
                <h1>{{ marks[1] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[2] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[3] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[4] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[5] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[6] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[7] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[8] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[9] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[10] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[11] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[12] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[13] }} </h1>
            </div>
            <div class="mark">
                <h1>{{ marks[14] }} </h1>
            </div>
            -->

        </div>


    </div>
    <script src="app.js"></script>
</body>

</html>